body {
background-color: yellow;
}


div {
	overflow: auto;
}

.top {
	color: green;
	border:15px;
	border-width: 100%;
	border-style: solid;
	text-align: center;
	background-color: green;

}

div.list input {

  width  : 160px;
  height : 25px;
  margin-left:5em;
}


.top li {
	list-style-type: none;
	display: inline;
	

}

.top h4 {
	font-size: 30px;
	color: grey;

}

h3 {
	padding-left: 4em;
	padding-top: 4em; 
}

ul {
	list-style-type: none;
	padding-left: 5em;
	color:blue;
}
	li:hover,
	li:focus
	
     {
 
  background: pink;
  color   : #FFF;


}

li {
	cursor:pointer;
}

.appear {
	float: right;

	padding-right: 2em;
	padding-top:  .2em;
	color: black;

}

 #myform {
   

  width  : 35px;
  height : 55px;
  margin-left:5em;



}
 
 


#clearbutton {
	width: 170px;
	height: 55px;
	margin-right: auto;
	margin-left: auto;
   
	
	
}


body {
	
	
}

#mybutton {
	
	
	margin-left: 22em;
	margin-top: .25em;
   
}
	
#clearbutton {
	
	display: block;
	margin-left: 45em;
	margin-top: 15em;

	

}	






#mybutton:hover,
#clearbutton:hover

 {
  outline   : none;
  color   : black;
  background: #CF4647;
}




@media only screen and  (max-width: 700px) {
  .top {
        
        max-width: 100%;
	    height: auto;
  }
  .top h4 {
  	font-size: 1em;

  }
  img {
  	width:100%;
  	height: auto;
  }
}

  @media only screen and (max-width: 700px) {
    
    .appear {
        font-size: .5em;
        padding-right: 0em;
	    padding-top:  .7em;
	    color: purple;

    }
    .list {
        font-size: .5em;

    }


}
  @media only screen and (max-width: 700px) {
#clearbutton {
font-size:.8em;
  padding 1em 0;


   width: 100%;
   min-width: 50px;  
   max-width: 300px; /
}




